:root {
  --color-white-solid: #ffffff;
  --font_family-Font_1: Inter;
  --line_height-24: 24;
  --font_weight-400: 400;
  --www.intercom.com-White: #FFFFFF;
  --www.intercom.com-Inter-Regular: Font(family: "font family/Font 1", style: Regular, size: 14.399999618530273, weight: font weight/400, lineHeight: line height/16, letterSpacing: letter spacing/-0_4);
  --color-blue-40: #0007cb;
  --www.intercom.com-Dark_Blue: #0007CB;
  --color-grey-7: #111111;
  --www.intercom.com-Cod_Gray: #111111;
  --color-grey-7_75pct: #111111bf;
  --www.intercom.com-Cod_Gray_75pct: #111111;
  --stroke_weight-1: 1;
  --stroke_weight-1_45: 1.4543750286102295;
  --opacity-100: 100;
  --color-grey-7_40pct: #11111166;
  --www.intercom.com-Cod_Gray_40pct: #111111;
  --stroke_weight-1_33: 1.3332558870315552;
  --stroke_weight-0_57: 0.5713487863540649;
  --stroke_weight-0_08: 0.07546667009592056;
  --color-black-solid: #000000;
  --www.intercom.com-Black: #000000;
  --opacity-96_1: 96.10000610351562;
  --stroke_weight-0_91: 0.9142307639122009;
  --stroke_weight-0_78: 0.7804273366928101;
  --stroke_weight-0_86: 0.8648648858070374;
  --color-grey-46: #757575;
  --www.intercom.com-Boulder: #747474;
  --stroke_weight-0_75: 0.75;
  --stroke_weight-1_1: 1.0998891592025757;
  --line_height-17_5: 17.5;
  --opacity-90: 90;
  --line_height-19_6: 19.600000381469727;
  --color-black-_60pct: #00000099;
  --www.intercom.com-Black_60pct: #000000;
  --line_height-18_9: 18.899999618530273;
  --letter_spacing--0_1: -0.09600000083446503;
  --line_height-15: 15;
  --color-black-_8pct: #00000014;
  --www.intercom.com-Black_8pct: #000000;
  --letter_spacing--0_4: -0.4000000059604645;
  --line_height-16: 16;
  --color-black-_90_9pct: #000000e8;
  --www.intercom.com-Black_90.86pct: #000000;
  --item_spacing-10: 10;
  --color-black-_46pct: #00000075;
  --www.intercom.com-Black_46pct: #000000;
  --color-red-50: #df2020;
  --www.intercom.com-Alizarin_Crimson: #DF2020;
  --width-17_6: 17.600000381469727;
  --letter_spacing-0_6: 0.6000000238418579;
  --font_size-12: 12;
  --www.intercom.com-Inter-Regular_upper: Font(family: "font family/Font 1", style: Regular, size: font size/12, weight: font weight/400, lineHeight: line height/16_2, letterSpacing: letter spacing/1_2);
  --letter_spacing--2_4: -2.4000000953674316;
  --item_spacing-80: 80;
  --letter_spacing--0_16: -0.1599999964237213;
  --line_height-22_4: 22.399999618530273;
  --item_spacing-8: 8;
  --width-1024: 1024;
  --width-1170_67: 1170.6700439453125;
  --color-grey-93: #f1eee9;
  --www.intercom.com-Pampas: #F4F3EC;
  --width-1920: 1920;
  --letter_spacing--1_6: -1.600000023841858;
  --line_height-54: 54;
  --letter_spacing--0_48: -0.47999998927116394;
  --height-359: 359;
  --color-orange-80: #d3cec6;
  --www.intercom.com-Swirl: #D3CEC6;
  --color-grey-97: #faf9f6;
  --www.intercom.com-Spring_Wood: #FAF9F6;
  --color-orange-85: #dedbd6;
  --www.intercom.com-Westar: #DEDBD6;
  --letter_spacing--0_2: -0.20000000298023224;
  --line_height-19: 19;
  --color-grey-7_70pct: #111111b2;
  --www.intercom.com-Cod_Gray_70pct: #111111;
  --item_spacing--0_7: -0.7049999833106995;
  --height-128: 128;
  --color-black-_3pct: #00000008;
  --www.intercom.com-Black_3pct: #000000;
  --opacity-60: 60;
  --item_spacing--0_01: -0.009999999776482582;
  --item_spacing-l: 48;
  --width-512: 512;
  --color-grey-7_80pct: #111111cc;
  --www.intercom.com-Cod_Gray_80pct: #111111;
  --width-576: 576;
  --item_spacing-0: 3.410605131648481e-13;
  --item_spacing-0_01: 0.009999999776482582;
  --width-672: 672;
  --width-710_08: 710.0800170898438;
  --color-grey-7_50pct: #11111180;
  --www.intercom.com-Cod_Gray_50pct: #111111;
  --color-grey-7_5pct: #1111110d;
  --www.intercom.com-Cod_Gray_5pct: #111111;
  --color-grey-7_10pct: #1111111a;
  --www.intercom.com-Cod_Gray_10pct: #111111;
  --item_spacing-32: 32;
  --letter_spacing--1_2: -1.2000000476837158;
  --line_height-40: 40;
  --height-352: 352;
  --item_spacing-1160: 1160;
  --width-1065_12: 1065.1199951171875;
  --letter_spacing-1_2: 1.2000000476837158;
  --line_height-15_6: 15.600000381469727;
  --item_spacing-xxs: 4;
  --item_spacing--1: -1;
  --width-1600: 1600;
  --width-1568: 1568;
  --width-416_19: 416.19000244140625;
  --color-grey-48_30pct: #7b7b784d;
  --www.intercom.com-Friar_Gray_30pct: #7B7B78;
  --color-grey-19: #313130;
  --www.intercom.com-Mine_Shaft: #313130;
  --color-black-_93_3pct: #000000ee;
  --www.intercom.com-Black_93.25pct: #000000;
  --color-black-_19pct: #00000030;
  --www.intercom.com-Black_19pct: #000000;
  --width-16: 16;
  --line_height-80: 80;
  --item_spacing-s+: 24;
  --item_spacing--0_61: -0.6100000143051147;
  --item_spacing-s: 16;
  --line_height-12: 12;
  --item_spacing-40: 40;
  --item_spacing-12: 12;
  --item_spacing-12_01: 12.010000228881836;
  --color-grey-45: #747474;
  --color-black-_45_5pct: #00000074;
  --www.intercom.com-Black_45.5pct: #000000;
  --width-557_92: 557.9199829101562;
  --item_spacing-23_2: 23.200000762939453;
  --color-black-_5pct: #0000000d;
  --width-561_34: 561.3400268554688;
  --item_spacing-15_1: 15.100000381469727;
  --item_spacing--0_71: -0.7049999833106995;
  --height-632: 632;
  --color-grey-63: #a1a1a1;
  --www.intercom.com-Silver_Chalice: #A1A1A1;
  --color-black-_87_3pct: #000000df;
  --www.intercom.com-Black_87.34pct: #000000;
  --color-black-_63pct: #000000a1;
  --www.intercom.com-Black_63pct: #000000;
  --item_spacing-22_9: 22.899999618530273;
  --item_spacing-14_9: 14.899999618530273;
  --color-white-_80pct: #ffffffcc;
  --letter_spacing--0_35: -0.3499999940395355;
  --line_height-14: 14;
  --font_weight-600: 600;
  --www.intercom.com-White_80pct: #FFFFFF;
  --www.intercom.com-Inter-Semi_Bold: Font(family: "font family/Font 1", style: Semi Bold, size: 12.899999618530273, weight: font weight/600, lineHeight: line height/14, letterSpacing: letter spacing/-0_35);
  --color-red-7: #17100e;
  --color-black-_0pct: #00000000;
  --www.intercom.com-Gondola: #17100E;
  --www.intercom.com-Black_0pct: #000000;
  --color-red-7_20pct: #17100e33;
  --www.intercom.com-Gondola_20pct: #17100E;
  --line_height-19_2: 19.200000762939453;
  --font_weight-700: 700;
  --www.intercom.com-Inter-Bold: Font(family: "font family/Font 1", style: Bold, size: 53.900001525878906, weight: font weight/700, lineHeight: line height/57_72, letterSpacing: letter spacing/-2_89);
  --line_height-21_28: 21.280000686645508;
  --item_spacing-3_99: 3.990000009536743;
  --color-red-7_60pct: #17100e99;
  --www.intercom.com-Gondola_60pct: #17100E;
  --line_height-20: 20;
  --color-red-7_40pct: #17100e66;
  --www.intercom.com-Gondola_40pct: #17100E;
  --letter_spacing--0_88: -0.8799999952316284;
  --color-white-_20pct: #ffffff33;
  --www.intercom.com-White_20pct: #FFFFFF;
  --color-white-_60pct: #ffffff99;
  --www.intercom.com-White_60pct: #FFFFFF;
  --opacity-75: 75;
  --line_height-16_8: 16.799999237060547;
  --color-orange-89: #e8e4dc;
  --www.intercom.com-Satin_Linen: #E7E3DB;
  --letter_spacing--4_09: -4.090000152587891;
  --line_height-81_8: 81.80000305175781;
  --font_weight-300: 300;
  --www.intercom.com-Inter-Light: Font(family: "font family/Font 1", style: Light, size: 40.599998474121094, weight: font weight/300, lineHeight: line height/46_17, letterSpacing: letter spacing/-2_31);
  --width-952_15: 952.1519775390625;
  --item_spacing-30_79: 30.795000076293945;
  --line_height-21_6: 21.600000381469727;
  --width-668: 668;
  --letter_spacing--2_31: -2.309000015258789;
  --line_height-46_17: 46.16999816894531;
  --letter_spacing--2_56: -2.559999942779541;
  --letter_spacing--0_32: -0.3199999928474426;
  --letter_spacing--1_28: -1.2799999713897705;
  --font_weight-900: 900;
  --www.intercom.com-Inter-Black: Font(family: "font family/Font 1", style: Black, size: 31.5, weight: font weight/900, lineHeight: 100, letterSpacing: letter spacing/-1_28);
  --letter_spacing--0_96: -0.9599999785423279;
  --letter_spacing--0_64: -0.6399999856948853;
  --width-1080: 1080;
  --width-1540: 1540;
  --color-grey-94: #f4f3ec;
  --width-618_03: 618.031982421875;
  --letter_spacing--1_34: -1.3359999656677246;
  --line_height-33_4: 33.400001525878906;
  --color-yellow-58_0pct: #f6f43100;
  --color-yellow-58: #f6f431;
  --item_spacing-31_99: 31.989999771118164;
  --color-red-7_80pct: #17100ecc;
  --www.intercom.com-Gondola_80pct: #17100E;
  --color-red-7_0pct: #17100e00;
  --stroke_weight-3: 3;
  --stroke_weight-5: 5;
  --item_spacing-32_01: 32.0099983215332;
  --item_spacing--3_59: -3.5899999141693115;
  --item_spacing-31: 31;
  --width-698_64: 698.6439819335938;
  --width-575_36: 575.3599853515625;
  --height-719_19: 719.1900024414062;
  --width-1156_8: 1156.800048828125;
  --letter_spacing--1_29: -1.2912094593048096;
  --line_height-29_7: 29.697816848754883;
  --line_height-23_84: 23.837711334228516;
  --line_height-21_45: 21.453941345214844;
  --item_spacing-3_16: 3.1649999618530273;
  --item_spacing-31_2: 31.200000762939453;
  --color-orange-74: #ffa77a;
  --www.intercom.com-Hit_Pink: #FFA77A;
  --letter_spacing--1_3: -1.295053482055664;
  --line_height-29_79: 29.786230087280273;
  --item_spacing-31_4: 31.399999618530273;
  --line_height-23_91: 23.908679962158203;
  --line_height-21_52: 21.517812728881836;
  --item_spacing-3_26: 3.265000104904175;
  --item_spacing-31_45: 31.450000762939453;
  --color-blue-71: #7a7eef;
  --www.intercom.com-Cornflower_Blue: #7A7EEF;
  --line_height-29_85: 29.849409103393555;
  --item_spacing--0_47: -0.46506088972091675;
  --line_height-23_96: 23.959392547607422;
  --line_height-21_56: 21.563453674316406;
  --item_spacing-3_36: 3.3550000190734863;
  --item_spacing-31_66: 31.65999984741211;
  --color-rose-74: #ff7ad5;
  --www.intercom.com-Hot_Pink: #FF7AD5;
  --line_height-29_89: 29.887351989746094;
  --line_height-23_99: 23.98984718322754;
  --line_height-21_59: 21.590862274169922;
  --item_spacing-3_43: 3.434999942779541;
  --item_spacing-31_84: 31.84000015258789;
  --letter_spacing--1_33: -1.3346710205078125;
  --line_height-30_7: 30.697433471679688;
  --item_spacing--1_26: -1.2600188255310059;
  --letter_spacing--0_21: -0.20533399283885956;
  --line_height-24_64: 24.640079498291016;
  --line_height-22_18: 22.176071166992188;
  --item_spacing-2_27: 2.272509813308716;
  --item_spacing-31_82: 31.81999969482422;
  --line_height-29_9: 29.899999618530273;
  --width-1492: 1492;
  --font_size-48: 48;
  --letter_spacing--1: -1;
  --width-505_44: 505.44000244140625;
  --stroke_weight-2: 2;
  --letter_spacing--0_8: -0.800000011920929;
  --width-443_25: 443.25;
  --height-56: 56;
  --letter_spacing--1_92: -1.9199999570846558;
  --line_height-32: 32;
  --item_spacing-87_58: 87.58000183105469;
  --item_spacing-109_73: 109.7300033569336;
  --item_spacing-171_8: 171.8000030517578;
  --item_spacing-202_83: 202.8300018310547;
  --width-1200: 1200;
  --letter_spacing--1_76: -1.7599999904632568;
  --font_size-16: 16;
  --item_spacing-23_3: 23.299999237060547;
  --width-936: 936;
  --height-480: 480;
  --color-cyan-89: #ccfaf4;
  --www.intercom.com-Scandal: #CCFAF4;
  --item_spacing-23_67: 23.670000076293945;
  --letter_spacing--0_18: -0.18299999833106995;
  --line_height-21_98: 21.979999542236328;
  --item_spacing-80_8: 80.80000305175781;
  --height-500: 500;
  --item_spacing-64: 64;
  --width-1512: 1512;
  --width-1408: 1408;
  --letter_spacing--2_89: -2.885999917984009;
  --line_height-57_72: 57.720001220703125;
  --width-677_29: 677.2849731445312;
  --line_height-16_2: 16.200000762939453;
  --item_spacing-11_69: 11.6899995803833;
  --width-398_44: 398.44000244140625;
  --color-white-_40pct: #ffffff66;
  --fin.ai-White_40pct: #FFFFFF;
  --stroke_weight-0_1: 0.09784000366926193;
  --stroke_weight-0_12: 0.12402559816837311;
  --color-orange-50: #ff5600;
  --fin.ai-International_Orange: #FF5600;
  --color-azure-5: #020917;
  --fin.ai-Black_Pearl: #020917;
  --stroke_weight-0_5: 0.49900001287460327;
  --stroke_weight-0_99: 0.9873170852661133;
  --font_size-11_85: 11.84780502319336;
  --fin.ai-Inter-Regular: Font(family: "font family/Font 1", style: Regular, size: 14.800000190734863, weight: font weight/400, lineHeight: line height/16, letterSpacing: letter spacing/-0_4);
  --font_size-10_86: 10.860487937927246;
  --stroke_weight-0_49: 0.49365854263305664;
  --color-grey-76: #c5c5c1;
  --fin.ai-Gray_Nickel: #C5C5C1;
  --color-orange-50_0pct: #ff560000;
  --color-orange-50_30pct: #ff56004d;
  --color-orange-50_70pct: #ff5600b2;
  --color-orange-50_90pct: #ff5600e5;
  --stroke_weight-1_97: 1.9746341705322266;
  --font_size-10_87: 10.870588302612305;
  --color-black-_37_6pct: #00000060;
  --fin.ai-Black_37.6pct: #000000;
  --color-yellow-89: #e8e7e0;
  --fin.ai-Cararra: #E8E7E0;
  --font_size-11_86: 11.858823776245117;
  --color-black-_80pct: #000000cc;
  --fin.ai-Black_80pct: #000000;
  --stroke_weight-1_08: 1.0779999494552612;
  --color-grey-75: #c0bebe;
  --fin.ai-Gallery: #EEEEEE;
  --stroke_weight-1_67: 1.666635513305664;
  --stroke_weight-0_8: 0.800000011920929;
  --stroke_weight-0_64: 0.6399999856948853;
  --stroke_weight-1_41: 1.4142135381698608;
  --color-white-_70pct: #ffffffb2;
  --fin.ai-White_70pct: #FFFFFF;
  --color-white-_50pct: #ffffff80;
  --fin.ai-White_50pct: #FFFFFF;
  --stroke_weight-0_87: 0.8662273287773132;
  --stroke_weight-1_99: 1.9940412044525146;
  --stroke_weight-0_71: 0.7077993750572205;
  --stroke_weight-0_93: 0.9257369637489319;
  --stroke_weight-0_7: 0.7015274167060852;
  --color-grey-12: #1e1e1e;
  --fin.ai-Cod_Gray: #1E1E1E;
  --stroke_weight-0_65: 0.6469880938529968;
  --stroke_weight-0_66: 0.6609625816345215;
  --stroke_weight-0_68: 0.6801750063896179;
  --stroke_weight-0_69: 0.6944671869277954;
  --stroke_weight-1_07: 1.0667755603790283;
  --stroke_weight-0_17: 0.1676008552312851;
  --color-white-_10pct: #ffffff1a;
  --fin.ai-White_10pct: #FFFFFF;
  --color-white-_5pct: #ffffff0d;
  --fin.ai-White_5pct: #FFFFFF;
  --stroke_weight-0_44: 0.4381062090396881;
  --color-azure-7: #080f1e;
  --fin.ai-Firefly: #080F1E;
  --fin.ai-Silver: #C0BEBE;
  --stroke_weight-0_67: 0.6691088676452637;
  --color-grey-85: #d9d9d9;
  --fin.ai-Alto: #D9D9D9;
  --stroke_weight-0_33: 0.33455443382263184;
  --opacity-20: 20;
  --stroke_weight-0_22: 0.22303591668605804;
  --stroke_weight-0_89: 0.8921458721160889;
  --stroke_weight-0_45: 0.44607293605804443;
  --stroke_weight-1_09: 1.0923762321472168;
  --stroke_weight-0_25: 0.25;
  --color-violet-10: #19161c;
  --fin.ai-Baltic_Sea: #19161C;
  --stroke_weight-0_24: 0.24334770441055298;
  --fin.ai-Santas_Gray: #9C9FA5;
  --stroke_weight-0_55: 0.5517241358757019;
  --color-grey-25: #3f3f3f;
  --fin.ai-Mine_Shaft: #3F3F3F;
  --stroke_weight-0_04: 0.04296875;
  --color-grey-44: #6c6f74;
  --fin.ai-Nevada: #6C6F74;
  --stroke_weight-0_03: 0.03444969654083252;
  --color-grey-34: #565656;
  --fin.ai-Scorpion: #565656;
  --fin.ai-White_80pct: #FFFFFF;
  --letter_spacing-0_07: 0.07000000029802322;
  --opacity-80: 80;
  --color-grey-48: #7b7b78;
  --fin.ai-Friar_Gray: #7B7B78;
  --opacity-66: 66;
  --letter_spacing-1_5: 1.503999948501587;
  --fin.ai-Inter-Regular_upper: Font(family: "font family/Font 1", style: Regular, size: font size/11, weight: font weight/400, lineHeight: line height/14, letterSpacing: letter spacing/1_5);
  --font_size-18: 18;
  --font_size-11: 11;
  --fin.ai-White_60pct: #FFFFFF;
  --item_spacing-4: 4;
  --color-white-_8pct: #ffffff14;
  --fin.ai-White_8pct: #FFFFFF;
  --color-white-_85pct: #ffffffd9;
  --fin.ai-White_84.95pct: #FFFFFF;
  --color-white-_75_3pct: #ffffffc0;
  --fin.ai-White_75.3pct: #FFFFFF;
  --color-blue-44: #000ce1;
  --fin.ai-Dark_Blue: #000CE1;
  --fin.ai-Inter-Bold: Font(family: "font family/Font 1", style: Bold, size: 15.600000381469727, weight: font weight/700, lineHeight: line height/19_2, letterSpacing: letter spacing/0_16);
  --fin.ai-Inter-Bold_underline: Font(family: "font family/Font 1", style: Bold, size: 15.600000381469727, weight: font weight/700, lineHeight: line height/19_2, letterSpacing: letter spacing/0_16);
  --letter_spacing-0_16: 0.1599999964237213;
  --width-175: 175;
  --width-256: 256;
  --width-130: 130;
  --color-azure-5_0pct: #02091700;
  --color-azure-5_85pct: #020917d9;
  --color-azure-5_60pct: #02091799;
  --width-1536: 1536;
  --letter_spacing--3_01: -3.007999897003174;
  --line_height-96: 96;
  --fin.ai-Inter-Light: Font(family: "font family/Font 1", style: Light, size: 29.100000381469727, weight: font weight/300, lineHeight: line height/35_2, letterSpacing: letter spacing/-0_64);
  --item_spacing-m: 32;
  --item_spacing-11_99: 11.989999771118164;
  --item_spacing-15_5: 15.5;
  --width-280: 280;
  --height-720: 720;
  --line_height-72: 72;
  --color-grey-38: #626260;
  --fin.ai-Storm_Dust: #626260;
  --line_height-23_94: 23.940000534057617;
  --fin.ai-Tuatara: #313130;
  --width-420: 420;
  --color-black-_10pct: #0000001a;
  --color-grey-95: #f6f6f1;
  --fin.ai-Pampas: #F6F6F1;
  --width-544_75: 544.7520141601562;
  --item_spacing-168_98: 168.97999572753906;
  --color-black-_20pct: #00000033;
  --fin.ai-Black_20pct: #000000;
  --height-200: 200;
  --width-85: 85;
  --line_height-31_92: 31.920000076293945;
  --item_spacing-20_01: 20.010000228881836;
  --color-black-_15pct: #00000026;
  --fin.ai-Black_15pct: #000000;
  --line_height-35: 35;
  --color-white-_18pct: #ffffff2e;
  --fin.ai-White_18pct: #FFFFFF;
  --color-black-_75pct: #000000bf;
  --color-black-_35pct: #00000059;
  --width-40: 40;
  --color-azure-13: #161e2e;
  --fin.ai-Mirage: #1E2939;
  --width-322: 322;
  --fin.ai-Black_10pct: #000000;
  --color-azure-26: #393f4b;
  --fin.ai-Bright_Gray: #393F4B;
  --font_size-54: 54;
  --color-grey-82: #cecfd2;
  --fin.ai-Iron: #CECFD2;
  --color-white-_2_5pct: #ffffff06;
  --fin.ai-White_2.5pct: #FFFFFF;
  --width-785_7: 785.7000122070312;
  --item_spacing-23_99: 23.989999771118164;
  --width-472_13: 472.125;
  --color-orange-50_60pct: #ff560099;
  --fin.ai-International_Orange_60pct: #FF5600;
  --line_height-14_85: 14.850000381469727;
  --opacity-50: 50;
  --width-768: 768;
  --width-502_85: 502.8479919433594;
  --width-485: 485;
  --item_spacing-132_36: 132.36000061035156;
  --color-azure-7_0pct: #080f1e00;
  --fin.ai-Inter-Semi_Bold: Font(family: "font family/Font 1", style: Semi Bold, size: 13, weight: font weight/600, lineHeight: line height/14, letterSpacing: 0);
  --width-132_19: 132.19200134277344;
  --letter_spacing--3_6: -3.5999999046325684;
  --letter_spacing-1_4: 1.399999976158142;
  --line_height-35_2: 35.20000076293945;
  --item_spacing-10_01: 10.010000228881836;
  --item_spacing--1_08: -1.0800000429153442;
  --color-azure-5_1pct: #02091703;
  --fin.ai-White_20pct_Bright_Gray: #FFFFFF,#393F4B;
  --item_spacing-3: 3;
  --color-azure-12: #151b29;
  --color-grey-54_30pct: #84878f4d;
  --fin.ai-Oslo_Gray_30pct: #84878F;
  --fin.ai-Black_5pct: #000000;
  --color-white-_0pct: #ffffff00;
  --color-grey-10_55pct: #1a1a1a8c;
  --fin.ai-Cod_Gray_55pct: #1A1A1A;
  --color-grey-98: #fafafa;
  --fin.ai-Alabaster: #FAFAFA;
  --item_spacing--6_48: -6.474999904632568;
  --color-white-_90pct: #ffffffe5;
  --fin.ai-White_90pct: #FFFFFF;
  --height-36: 36;
  --color-azure-6_6pct: #090e150f;
  --fin.ai-Ebony_6pct: #090E15;
  --height-45: 45;
  --width-334: 334;
  --item_spacing--xxxs: -2;
  --height-571: 571;
  --width-191: 191;
  --width-272: 272;
  --width-146: 146;
  --width-135: 135;
  --width-352: 352;
  --height-810: 810;
  --fin.ai-White_Black_Pearl: #FFFFFF,#020917;
  --stroke_weight-0_94: 0.9375;
  --stroke_weight-6_55: 6.545454502105713;
  --stroke_weight-6_52: 6.517272472381592;
  --stroke_weight-1_2: 1.2000000476837158;
  --stroke_weight-0_18: 0.1764705926179886;
  --stroke_weight-0_73: 0.734181821346283;
  --stroke_weight-0_48: 0.48275861144065857;
  --stroke_weight-0_14: 0.13885612785816193;
  --color-grey-54: #8a8a8a;
  --fin.ai-Gray: #8A8A8A;
  --color-white-_90_9pct: #ffffffe8;
  --fin.ai-White_90.85pct: #FFFFFF;
  --color-white-_46pct: #ffffff75;
  --fin.ai-White_46pct: #FFFFFF;
  --opacity-10: 10;
  --height-780: 780;
  --opacity-83_6: 83.6010971069336;
  --opacity-23_5: 23.498199462890625;
  --item_spacing-24: 24;
  --width-518_4: 518.4000244140625;
  --item_spacing-28: 28;
  --width-1047_6: 1047.5999755859375;
  --color-azure-17: #1e2939;
  --color-spring_green-39: #00c950;
  --fin.ai-Malachite: #00C950;
  --item_spacing-81_8: 81.80000305175781;
  --color-grey-94_0pct: #f4f3ec00;
  --color-white-_15pct: #ffffff26;
  --fin.ai-White_15pct: #FFFFFF;
  --color-grey-64: #a4a4a4;
  --fin.ai-Silver_Chalice: #A4A4A4;
  --color-black-_2_5pct: #00000006;
  --fin.ai-Black_2.5pct: #000000;
  --item_spacing-23: 23;
  --color-azure-26_0pct: #393f4b00;
  --item_spacing-779_76: 779.760009765625;
  --item_spacing-602_13: 602.1300048828125;
  --item_spacing-748_34: 748.3400268554688;
  --item_spacing-786_65: 786.6500244140625;
  --item_spacing-755_76: 755.760009765625;
  --item_spacing-675_45: 675.4500122070312;
  --item_spacing-814_18: 814.1799926757812;
  --item_spacing-677_48: 677.47998046875;
  --item_spacing-737_12: 737.1199951171875;
  --item_spacing-707_77: 707.77001953125;
  --opacity-81: 81;
  --color-azure-5_75pct: #020917bf;
  --opacity-15: 15;
  --height-48: 48;
  --height-80: 80;
  --color-grey-7_60pct: #11111199;
  --www.intercom.com-Cod_Gray_60pct: #111111;
  --stroke_weight-1_64: 1.6399999856948853;
  --stroke_weight-0_09: 0.08888561278581619;
  --color-grey-7_30pct: #1111114d;
  --www.intercom.com-Cod_Gray_30pct: #111111;
  --color-black-_70pct: #000000b2;
  --www.intercom.com-Black_70pct: #000000;
  --color-black-_33_7pct: #00000056;
  --www.intercom.com-Black_33.7pct: #000000;
  --item_spacing-8_01: 8.010000228881836;
  --width-91: 91;
  --width-1440: 1440;
  --width-127: 127;
  --width-166: 166;
  --item_spacing-119_5: 119.5;
  --item_spacing-23_1: 23.100000381469727;
  --item_spacing-15_09: 15.085000038146973;
  --item_spacing-177_27: 177.27000427246094;
  --width-344_9: 344.89599609375;
  --color-orange-88: #e7e3db;
  --color-grey-7_20pct: #11111133;
  --www.intercom.com-Cod_Gray_20pct: #111111;
  --item_spacing--0_5: -0.5;
  --width-405_76: 405.760009765625;
  --item_spacing-20: 20;
  --width-336: 336;
  --width-320: 320;
  --height-64: 64;
  --height-134_34: 134.33999633789062;
  --color-black-_1pct: #00000003;
  --www.intercom.com-Black_1pct: #000000;
  --item_spacing-0_5: 0.5;
  --width-355_04: 355.0400085449219;
  --item_spacing-2: 2;
  --color-white-_30pct: #ffffff4d;
  --www.intercom.com-White_30pct: #FFFFFF;
  --color-orange-9: #191513;
  --www.intercom.com-Zeus: #191513;
  --stroke_weight-4_5: 4.5;
  --opacity-0: 4.3506499736167825e-8;
  --color-azure-47: #3462bd;
  --color-azure-60: #83a1ad;
  --item_spacing-31_1: 31.100000381469727;
  --item_spacing-16_01: 16.010000228881836;
  --color-white-_1pct: #ffffff03;
  --www.intercom.com-White_1pct: #FFFFFF;
  --width-1230: 1230;
  --www.intercom.com-Cararra: #E7E6DF;
  --width-390: 390;
  --item_spacing-290_89: 290.8900146484375;
  --width-316: 316;
  --item_spacing-16_99: 16.989999771118164;
  --item_spacing-434_59: 434.5899963378906;
  --item_spacing-391_87: 391.8699951171875;
  --item_spacing-393_64: 393.6400146484375;
  --item_spacing-265_09: 265.0899963378906;
  --item_spacing-289_84: 289.8399963378906;
  --item_spacing-136_28: 136.27999877929688;
  --item_spacing-338_02: 338.0199890136719;
  --item_spacing-209_84: 209.83999633789062;
  --item_spacing-333_84: 333.8399963378906;
  --width-1400: 1400;
  --color-azure-5_20pct: #02091733;
  --www.intercom.com-Black_Pearl_20pct: #020917;
  --www.intercom.com-Black_Pearl_20pct_Black_Pearl: #020917,#020917;
  --width-941_76: 941.760009765625;
  --height-800: 800;
  --item_spacing--0_99: -0.9900000095367432;
}